header {
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.81);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.81);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.81);
}
header a,
header button {
    letter-spacing: 0.8px;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:active {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(227, 227, 227);
}
.nav-item {
    padding: 1rem 0;
}
.letter-b {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin-right: 3px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.498);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-found-container > .img-fluid {
    max-width: 100%;
    width: 48%;
}
.login-form input {
    border-radius: 1rem 0 1rem 0;
}
.register-form input {
    padding: 0.7rem 1rem;
    border-radius: 0.9rem 0 0.9rem 0;
}
.form-img,
.product-img {
    pointer-events: none;
    user-select: none;
}
.add-img {
    border-radius: 1rem;
}

.reg-gif {
    border-top-left-radius: 8rem;
}
.card-img-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.card-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.2s;
}
.card:hover img {
    transform: scale(110%);
}
.profile 
.profile__avatar {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.product-info.product-img {
    width: 100%;
    border-radius: 1rem;
}
.product-info .product-title {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.9px;
}
.product-info .product-vendor,
.product-info .product-price {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.product-info .product-text {
    font-size: 17px;
    letter-spacing: 0.9px;
    line-height: 28px;
}
.product-info .product-time {
    font-size: 1rem;
}
form.btn:hover > button {
    color: #fff!important;
}

@media (min-width: 768px) {
    .nav-item {
        padding: 0;
    }
}
@media (max-width: 991.98px) {

    .reg-gif,
    .login-gif {
        max-width: 100%;
        width: 350px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .card-img-wrapper {
        height: 250px;
    }
    .add-img {
        width: 100%;
    }
    .not-found-container > .img-fluid {
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    .add-img {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .card-img-wrapper {
        height: 330px;
    }
    .product-info .product-title {
        font-size: 1.5rem;
    }
    .product-info .product-vendor,
    .product-info .product-price {
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {

    .reg-gif,
    .login-gif {
        width: 260px;
    }
    .add-img {
        width: 90%;
    }
    .card-img-wrapper {
        height: 350px;
    }
    .not-found-container > .img-fluid {
        width: 95%;
    }
    .product-info .product-title {
        font-size: 1.4rem;
    }
    @media (max-width: 475.98px) {
        .card-img-wrapper {
            height: 240px;
        }
    }
}

.password-wrapper {
    position: relative;
}

.password-wrapper button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.password-wrapper button .passShowHideIcon {
    font-size: 1rem;
    color: #777;
}
.dropdown-menu .dropdown-item {
    cursor: pointer;
}
.dropdown-menu .dropdown-item:active {
    background-color: rgb(255, 0, 0);
}
.dropdown-menu .dropdown-quiz.dropdown-item {
    cursor: default;
}
.dropdown-menu .dropdown-quiz.dropdown-item:hover,
.dropdown-menu .dropdown-quiz.dropdown-item:active {
    background-color: #fff;
    color: #000;
}